.btn-info:hover{
background-color: blueviolet;
border-color:indigo
}
body{
    background-size: cover;
}
h3{
    font-family: 'Style Script';
    color: royalblue ;
    font-size:xx-large;

}
canvas{
    animation-name:example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from {box-shadow: 3px 3px 50px blue;}
    to {box-shadow: 3px 3px 50px black;}
}